{% extends 'base.html' %}

{% block content %}
   <br>
   <table border="1">
      <caption>{{ title }}: {{ count }} {{ t_s }} </caption>
      <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Publication date</th>
          <th>Category</th>
          <th>Authors</th>
      </tr>
      {% for el in books %}
         <tr>
             <td>{{ el.id }}</td>
             <td>{{ el.title }}</td>
             <td>{{ el.p_date }}</td>
             <td>{{ el.category.name }}</td>
             <td>{{ el.authors_name_list }}</td>
         </tr>
      {% endfor %}
{% endblock content %}
